<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Clock</title>
</head>
<body>
    <h1>Real-Time Clock</h1>
    <p id="clock-display">Loading...</p>

    <script>
        function updateTime() {
            fetch('get_time/')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('clock-display').innerText = 'Current Time: ' + data.time;
                });
        }

        setInterval(updateTime, 1000);  // Update time every second
    </script>
</body>
</html>
